{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#112244]">
    <section class=" py-1 bg-[#112244] h-full">

        <div class="w-full lg:w-11/12 px-4 mx-auto mt-6">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0 bg-[#F1F5F9]">
                <div class="rounded-t mb-0 px-6 py-6 bg-[#E6F1FB]">
                    <div class="text-center flex justify-between">
                        <p>
                            <img class="w-8 h-8 mr-2" src="{% static "cst.png" %}" alt="logo">
                        </p>
                        <h6 class="text-blueGray-700 text-xl font-bold">
                            {{ request.user.username }}
                        </h6>
                        <a href="{% url "logout" %}">
                            <button
                                class="bg-[#F7080F] text-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                                type="button">
                                Logout
                            </button>
                        </a>
                    </div>
                </div>

                    <div class="flex-auto px-4 lg:px-10 pt-0">
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Student Operations :
                        </h6> 
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-1/3 px-4">
                                <div class="relative w-full mb-3">
                                    <a href="{% url "newStudentInfo" %}">
                                        <button class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-[#6573E8] rounded shadow w-full text-[#ffffff] border-[3px] borde-[#5C469C]">
                                            Add student 
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-1/3 px-4">
                                <div class="relative w-full mb-3">
                                    <a href="{% url "studentDashboard" %}">
                                        <button class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-[#6573E8] rounded shadow w-full text-[#ffffff] border-[3px] borde-[#5C469C]">
                                            Student Data Dashboard 
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-1/3 px-4">
                                <div class="relative w-full mb-3">
                                    <a href="{% url "singleStudentSearch" %}">
                                        <button class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-[#6573E8] rounded shadow w-full text-[#ffffff] border-[3px] borde-[#5C469C]">
                                            Single Search student 
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="flex-auto px-4 lg:px-10  pt-0">
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Teacher Operations :
                        </h6> 
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-1/3 px-4">
                                <div class="relative w-full mb-3">
                                    <a href="{% url "newTeacherInfo" %}">
                                        <button class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-[#6573E8] rounded shadow w-full text-[#ffffff] border-[3px] borde-[#5C469C]">
                                            Add new teacher 
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-1/3 px-4">
                                <div class="relative w-full mb-3">
                                    <a href="{% url "teachersList" %}">
                                        <button class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-[#6573E8] rounded shadow w-full text-[#ffffff] border-[3px] borde-[#5C469C]">
                                            Teacher Data Dashboard 
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-auto px-4 lg:px-10  pt-0">
                        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                            Student Birthdays :
                        </h6> 
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-1/3 px-4">
                                <div class="relative w-full mb-3">
                                    <a href="{% url "todaysBirthdays" %}">
                                        <button class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-[#6573E8] rounded shadow w-full text-[#ffffff] border-[3px] borde-[#5C469C]">
                                            Today's Student Birthdays
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                        <hr class="mt-6 border-b-1 border-blueGray-300">


                        <footer class="relative  pt-8 pb-6 mt-2">
                            <div class="container mx-auto px-4">
                                <div class="flex flex-wrap items-center md:justify-between justify-center">
                                    <div class="w-full md:w-6/12 px-4 mx-auto text-center">
                                        <div class="text-sm text-blueGray-500 font-semibold py-1">
                                            C @ CST
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
    </section>

</body>

</html>